@font-face {
    font-family: 'gt';
    src: url('../fonts/GTSuperDisplay-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GTSuperDisplay-Medium.woff') format('woff'), url('../fonts/GTSuperDisplay-Medium.ttf')  format('truetype'), url('../fonts/GTSuperDisplay-Medium.svg#GTSuperDisplay-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minion';
    src: url('../fonts/MinionPro-Disp.eot?#iefix') format('embedded-opentype'),  url('../fonts/MinionPro-Disp.otf')  format('opentype'),
    url('../fonts/MinionPro-Disp.woff') format('woff'), url('../fonts/MinionPro-Disp.ttf')  format('truetype'), url('../fonts/MinionPro-Disp.svg#MinionPro-Disp') format('svg');
    font-weight: normal;
    font-style: normal;
}


html{
    width:100%;
    height:100%;
}

.main-wrap{
    font-family: 'gt', sans-serif;
    background-image: url("../images/main-bg.jpg");
    background-size: cover;
    background-position: center center;
    width:100%;
    height:100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color:#ffffff;
    position: relative;
}

.main-wrap::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top , rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0) 100%);
}

.hb-logo{
    margin-top: 2rem;
}


.hb-middle-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
}

.hb-middle-content h1{
    font-size: 2rem;
    font-family: 'gt', sans-serif;
}

.hb-middle-content p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.hb-launching{
    text-align: center;
    position: relative;
    z-index: 2;
}
.hb-launching h3{
    font-size: 2.5rem;
    font-family: 'gt', sans-serif;
    margin-bottom:-10px;
    line-height: 1;
}
.hb-launching h1{
    font-family:'minion', sans-serif;
    font-size: 10rem;
}

.hb-middle-content{
    max-width: 900px;
}
.hb-middle-content h1{
    font-size: 2.2rem;
}

.hb-footer-content{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}
.hb-footer-content span{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 1.2em;
}


@media all and (max-width: 600px) {

    .hb-logo img{
        width: 250px;
        height: auto;
    }
    .hb-middle-content h1{
        font-size: 1.6rem;
        font-family: 'gt', sans-serif;
    }

    .hb-launching h1{
        font-size: 4rem;
    }
    .hb-launching h3{
        font-size: 1.8rem;
        line-height: 1.4em;
    }

    .hb-footer-content span{
        font-size: 18px;
        line-height: 1.2em;
    }
}